/node_modules
/public/hot
/public/storage
/storage/*.key
.php_cs.cache
/vendor
/build
.env
.env.*
!.env.odenktools
!.env.testing.sample
phpunit.xml
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant
Vagrantfile
Homestead.yaml
Homestead.json
composer.phar
*backups*
*catatan*
*sampling*
*.exe
*.dll
*.zip
*.rar
*.log
*.bak
*.sql
*.txt
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.env
!.env.example
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.php_cs.cache
_ide_helper.php
*.rnd
backup?
backups?
/backup?
/backups?
