*
!.gitignore
!app.php
!auth.php
!broadcasting
!cache.php
!cors.php
!database.php
!filesystems.php
!hashing.php
!keyable.php
!logging.php
!mail.php
!perlukasir.php
!queue.php
!services.php
!session.php
!skeleton.php
!view.php
